body {
    background-color: #eee;
    font-size: 30px;
    width: 2100px;
    height: 300px;
    padding: 10px;
    font-family: "Work Sans", sans-serif;
}
p {
    color: #2c4755;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
div img {
    padding-top: 10px;
    margin: 20px;
}
footer {
    padding: 20px;
    margin: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #2c4755;
}